<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Principes</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Principes</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/0405d19d-0d86-403a-a189-7d6da7c236fb.png" alt="Principes" usemap="#0405d19d-0d86-403a-a189-7d6da7c236fbmap">
			<map name="0405d19d-0d86-403a-a189-7d6da7c236fbmap">
								<area shape="rect" coords="27,319,184,374" href="../elements/0c46b49c-6520-4c14-9791-7258a6826d55.html"  target="element">
								<area shape="rect" coords="197,319,354,374" href="../elements/5d157a92-3dcc-484c-813b-9aa6cc5d7ec8.html"  target="element">
								<area shape="rect" coords="365,319,522,374" href="../elements/1dbfe879-f25f-45ff-8b6a-ad9ffa6a524c.html"  target="element">
								<area shape="rect" coords="27,415,184,505" href="../elements/b8b08503-72cb-4ae7-949d-e2e13a2778f1.html"  target="element">
								<area shape="rect" coords="197,418,354,505" href="../elements/85065310-7691-43f8-9a8c-a882389b279a.html"  target="element">
								<area shape="rect" coords="365,423,522,505" href="../elements/2f9f4057-a80c-409b-943f-f808ae389d0e.html"  target="element">

						<area shape="rect" coords="10,273,692,521" href="../elements/909db6eb-1b40-4c32-aa29-fd103331db86.html"  target="element">
								<area shape="rect" coords="20,49,177,104" href="../elements/60f6e64d-647d-4753-baf9-25c87e2bc625.html"  target="element">
								<area shape="rect" coords="185,49,342,104" href="../elements/73352b86-cca5-4f11-9a8f-51863e3f88b8.html"  target="element">
								<area shape="rect" coords="356,49,513,104" href="../elements/3c0462df-2ea6-403f-8007-65cbf8a8fe85.html"  target="element">
								<area shape="rect" coords="523,49,680,104" href="../elements/c56361f8-8a8f-4c6b-a6b3-c7e6a8c37389.html"  target="element">
								<area shape="rect" coords="20,150,177,240" href="../elements/247e1818-bb0a-4525-b0a7-7f473ab4e7d4.html"  target="element">
								<area shape="rect" coords="185,150,342,240" href="../elements/e444c702-5ba0-43ea-833a-7b8461f39bfa.html"  target="element">
								<area shape="rect" coords="356,150,513,240" href="../elements/ee065468-5b5d-4bf2-bdf0-92b2ff9aa001.html"  target="element">
								<area shape="rect" coords="523,150,680,240" href="../elements/7676bf29-73e7-45a3-a818-99c898bb4dac.html"  target="element">

						<area shape="rect" coords="10,10,692,258" href="../elements/82da5731-1aa8-4e64-97b1-5a48208f7638.html"  target="element">
								<area shape="rect" coords="23,580,180,635" href="../elements/79d8ff01-923e-4159-92e3-2aacfe8043bf.html"  target="element">
								<area shape="rect" coords="189,580,346,635" href="../elements/a2b2be8e-5d4e-45ad-b895-e2724262a37e.html"  target="element">
								<area shape="rect" coords="355,580,512,635" href="../elements/88bac927-0277-4abc-85a1-4947667316d2.html"  target="element">
								<area shape="rect" coords="520,580,677,635" href="../elements/d6609bac-f464-4ddb-a0e9-a7eea7bc7f71.html"  target="element">
								<area shape="rect" coords="23,691,180,769" href="../elements/9ab856f9-bf0c-4d23-bf46-80bf4e882c8d.html"  target="element">
								<area shape="rect" coords="189,691,346,769" href="../elements/04a36b41-c84d-43fe-b3df-60ab81f6c8c8.html"  target="element">
								<area shape="rect" coords="355,691,512,769" href="../elements/e64759ad-ca4e-4e82-80b2-962230c08ab7.html"  target="element">
								<area shape="rect" coords="520,691,677,769" href="../elements/265d90ad-3eae-4771-9b46-b46f451ed67a.html"  target="element">

						<area shape="rect" coords="10,537,692,785" href="../elements/88da2d93-ad61-4807-b081-da0f1d207423.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
					<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="elements">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
								</tr>
							</thead>
							<tbody>
										<tr><td> <a href="../elements/909db6eb-1b40-4c32-aa29-fd103331db86.html" target="element"> Betrouwbaar </a> </td><td class="i18n-elementtype-Principle"></td></tr>
												<tr><td> <a href="../elements/0c46b49c-6520-4c14-9791-7258a6826d55.html" target="element"> Business continuity </a> </td><td class="i18n-elementtype-Principle"></td></tr>
												<tr><td> <a href="../elements/5d157a92-3dcc-484c-813b-9aa6cc5d7ec8.html" target="element"> Eenvoud </a> </td><td class="i18n-elementtype-Principle"></td></tr>
												<tr><td> <a href="../elements/1dbfe879-f25f-45ff-8b6a-ad9ffa6a524c.html" target="element"> Maximale zelfredzaamheid </a> </td><td class="i18n-elementtype-Principle"></td></tr>
												<tr><td> <a href="../elements/b8b08503-72cb-4ae7-949d-e2e13a2778f1.html" target="element"> Afhankelijkheid van IT managen </a> </td><td class="i18n-elementtype-Goal"></td></tr>
												<tr><td> <a href="../elements/85065310-7691-43f8-9a8c-a882389b279a.html" target="element"> Maximaal inzetten van de voorziene processen en applicaties </a> </td><td class="i18n-elementtype-Goal"></td></tr>
												<tr><td> <a href="../elements/2f9f4057-a80c-409b-943f-f808ae389d0e.html" target="element"> Efficientie &amp; omgaan met IT-afhankelijkheid </a> </td><td class="i18n-elementtype-Goal"></td></tr>
										
										<tr><td> <a href="../elements/82da5731-1aa8-4e64-97b1-5a48208f7638.html" target="element"> Strategisch </a> </td><td class="i18n-elementtype-Principle"></td></tr>
												<tr><td> <a href="../elements/60f6e64d-647d-4753-baf9-25c87e2bc625.html" target="element"> Capaciteits management </a> </td><td class="i18n-elementtype-Principle"></td></tr>
												<tr><td> <a href="../elements/73352b86-cca5-4f11-9a8f-51863e3f88b8.html" target="element"> Data driven </a> </td><td class="i18n-elementtype-Principle"></td></tr>
												<tr><td> <a href="../elements/3c0462df-2ea6-403f-8007-65cbf8a8fe85.html" target="element"> Project management </a> </td><td class="i18n-elementtype-Principle"></td></tr>
												<tr><td> <a href="../elements/c56361f8-8a8f-4c6b-a6b3-c7e6a8c37389.html" target="element"> Voorrang van principes </a> </td><td class="i18n-elementtype-Principle"></td></tr>
												<tr><td> <a href="../elements/247e1818-bb0a-4525-b0a7-7f473ab4e7d4.html" target="element"> Tijdige realisatie van strategie </a> </td><td class="i18n-elementtype-Goal"></td></tr>
												<tr><td> <a href="../elements/e444c702-5ba0-43ea-833a-7b8461f39bfa.html" target="element"> Gefundeerde beslissingen =&gt; betrouwbaar, wendbaar </a> </td><td class="i18n-elementtype-Goal"></td></tr>
												<tr><td> <a href="../elements/ee065468-5b5d-4bf2-bdf0-92b2ff9aa001.html" target="element"> Bewaken van prio, timing, scope, middelen </a> </td><td class="i18n-elementtype-Goal"></td></tr>
												<tr><td> <a href="../elements/7676bf29-73e7-45a3-a818-99c898bb4dac.html" target="element"> Consistentie en rendement van architectuur inspanningen </a> </td><td class="i18n-elementtype-Goal"></td></tr>
										
										<tr><td> <a href="../elements/88da2d93-ad61-4807-b081-da0f1d207423.html" target="element"> Duurzaam </a> </td><td class="i18n-elementtype-Principle"></td></tr>
												<tr><td> <a href="../elements/79d8ff01-923e-4159-92e3-2aacfe8043bf.html" target="element"> Beheersbaar </a> </td><td class="i18n-elementtype-Principle"></td></tr>
												<tr><td> <a href="../elements/a2b2be8e-5d4e-45ad-b895-e2724262a37e.html" target="element"> Dubbel-spoor ontwikkeling </a> </td><td class="i18n-elementtype-Principle"></td></tr>
												<tr><td> <a href="../elements/88bac927-0277-4abc-85a1-4947667316d2.html" target="element"> Service Oriented Architecture </a> </td><td class="i18n-elementtype-Principle"></td></tr>
												<tr><td> <a href="../elements/d6609bac-f464-4ddb-a0e9-a7eea7bc7f71.html" target="element"> Continuous integration </a> </td><td class="i18n-elementtype-Principle"></td></tr>
												<tr><td> <a href="../elements/9ab856f9-bf0c-4d23-bf46-80bf4e882c8d.html" target="element"> Kwalitatieve ondersteuning en kostenbeheersing </a> </td><td class="i18n-elementtype-Goal"></td></tr>
												<tr><td> <a href="../elements/04a36b41-c84d-43fe-b3df-60ab81f6c8c8.html" target="element"> Wendbaarheid van business en IT </a> </td><td class="i18n-elementtype-Goal"></td></tr>
												<tr><td> <a href="../elements/e64759ad-ca4e-4e82-80b2-962230c08ab7.html" target="element"> Kostenbesparing, flexibiliteit en wendbaarheid </a> </td><td class="i18n-elementtype-Goal"></td></tr>
												<tr><td> <a href="../elements/265d90ad-3eae-4771-9b46-b46f451ed67a.html" target="element"> Snellere en kwalitatievere oplevering van functionaliteit </a> </td><td class="i18n-elementtype-Goal"></td></tr>
										

							</tbody>
						</table>
					</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>