<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Generated View for Extern zonder integratie</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Generated View for Extern zonder integratie</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/2132c60b-cd38-4f2f-b9cd-39abeb5a8806.png" alt="Generated View for Extern zonder integratie" usemap="#2132c60b-cd38-4f2f-b9cd-39abeb5a8806map">
			<map name="2132c60b-cd38-4f2f-b9cd-39abeb5a8806map">
						<area shape="rect" coords="10,10,130,65" href="../elements/3f21138c-c770-4782-bbb4-99c4aa22f5ec.html"  target="element">
						<area shape="rect" coords="160,10,280,65" href="../elements/1e88587e.html"  target="element">
						<area shape="rect" coords="160,90,280,145" href="../elements/ed603130-2646-43aa-99c6-d3104d8ddc0e.html"  target="element">
						<area shape="rect" coords="160,170,280,225" href="../elements/4335639b.html"  target="element">
						<area shape="rect" coords="160,250,280,305" href="../elements/c5ae0a33-e7a0-474a-bbd6-fe7477e33bf4.html"  target="element">
						<area shape="rect" coords="160,330,280,385" href="../elements/f85904a1.html"  target="element">
						<area shape="rect" coords="160,410,280,465" href="../elements/8b9a1d23.html"  target="element">
						<area shape="rect" coords="160,490,280,545" href="../elements/2551d71b-7aee-4786-b800-5c3e5b42f27d.html"  target="element">
						<area shape="rect" coords="160,570,280,625" href="../elements/44ba6304-24b8-4eb3-8293-b8f024e61f24.html"  target="element">
						<area shape="rect" coords="160,650,280,705" href="../elements/3810e4cb-bed2-4978-a272-d946f67b5657.html"  target="element">
						<area shape="rect" coords="310,10,430,65" href="../elements/07d1659d-7c7b-4e5b-b6ea-fe4fc1211f08.html"  target="element">
						<area shape="rect" coords="310,90,430,145" href="../elements/02585962-3d8b-41d0-8f65-0b65380adfbd.html"  target="element">
						<area shape="rect" coords="310,170,430,225" href="../elements/296a350d-9208-4f80-bc2e-79e0830501be.html"  target="element">
						<area shape="rect" coords="310,250,430,305" href="../elements/01076c64-6e20-418d-93cc-ab4f2d2e9be1.html"  target="element">
						<area shape="rect" coords="310,330,430,385" href="../elements/86cff961-6d39-4348-906e-736ba2280b29.html"  target="element">
						<area shape="rect" coords="310,410,430,465" href="../elements/19401c44-895d-4735-b819-f36790ed0c59.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
					<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="elements">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
								</tr>
							</thead>
							<tbody>
										<tr><td> <a href="../elements/3f21138c-c770-4782-bbb4-99c4aa22f5ec.html" target="element"> Extern zonder integratie </a> </td><td class="i18n-elementtype-Location"></td></tr>
										<tr><td> <a href="../elements/1e88587e.html" target="element"> Loon-administratie </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
										<tr><td> <a href="../elements/ed603130-2646-43aa-99c6-d3104d8ddc0e.html" target="element"> Wallmania.be </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
										<tr><td> <a href="../elements/4335639b.html" target="element"> Totara LMS </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
										<tr><td> <a href="../elements/c5ae0a33-e7a0-474a-bbd6-fe7477e33bf4.html" target="element"> Magento Wallmania </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
										<tr><td> <a href="../elements/f85904a1.html" target="element"> eBlox </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
										<tr><td> <a href="../elements/8b9a1d23.html" target="element"> Everest (Kennismgmt) </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
										<tr><td> <a href="../elements/2551d71b-7aee-4786-b800-5c3e5b42f27d.html" target="element"> Wordpress smartwallpaint </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
										<tr><td> <a href="../elements/44ba6304-24b8-4eb3-8293-b8f024e61f24.html" target="element"> smartwallpaint.be </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
										<tr><td> <a href="../elements/3810e4cb-bed2-4978-a272-d946f67b5657.html" target="element"> 2Imagine </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
										<tr><td> <a href="../elements/07d1659d-7c7b-4e5b-b6ea-fe4fc1211f08.html" target="element"> Web 2 Print </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
										<tr><td> <a href="../elements/02585962-3d8b-41d0-8f65-0b65380adfbd.html" target="element"> Web 2 Print </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
										<tr><td> <a href="../elements/296a350d-9208-4f80-bc2e-79e0830501be.html" target="element"> Freshservice </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
										<tr><td> <a href="../elements/01076c64-6e20-418d-93cc-ab4f2d2e9be1.html" target="element"> Bucket (Service mgmt) </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
										<tr><td> <a href="../elements/86cff961-6d39-4348-906e-736ba2280b29.html" target="element"> Colorjinn </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
										<tr><td> <a href="../elements/19401c44-895d-4735-b819-f36790ed0c59.html" target="element"> Inkleurings software </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>

							</tbody>
						</table>
					</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>