<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>boss-magento</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>boss-magento</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/2571b15b-e08a-41b9-8881-0475d9b9fbf2.png" alt="boss-magento" usemap="#2571b15b-e08a-41b9-8881-0475d9b9fbf2map">
			<map name="2571b15b-e08a-41b9-8881-0475d9b9fbf2map">
										<area shape="rect" coords="917,110,1037,171" href="../elements/1aa3676c.html"  target="element">
										<area shape="rect" coords="917,243,1037,332" href="../elements/8f99e6ba.html"  target="element">
												<area shape="rect" coords="759,272,879,321" href="../elements/7f95d6a6-3f7b-4f42-b065-40c58f94d4aa.html"  target="element">
												<area shape="rect" coords="759,212,879,267" href="../elements/ada6b02b-c6ac-430c-bb22-2292377b8c01.html"  target="element">
												<area shape="rect" coords="759,147,879,202" href="../elements/3f331ce4-1f2c-4a9c-bd76-fca2e832feb3.html"  target="element">

										<area shape="rect" coords="750,110,890,332" href="../elements/14133a73-d91f-4beb-a69d-acb13efc3133.html"  target="element">

								<area shape="rect" coords="729,61,1071,349" href="../elements/e9a377c9-4904-4a71-afa8-9e9150ec0357.html"  target="element">
										<area shape="rect" coords="921,528,1041,576" href="../elements/421bcb8e.html"  target="element">
												<area shape="rect" coords="753,620,873,669" href="../elements/1e06c234-358b-4242-aa89-150aacb7eb46.html"  target="element">
												<area shape="rect" coords="753,556,873,611" href="../elements/ca1d457a-c6bb-4a95-b5a5-eb86888613da.html"  target="element">
												<area shape="rect" coords="753,494,873,549" href="../elements/345add24-8ec5-405b-8f16-bbf58e2ee5ea.html"  target="element">

										<area shape="rect" coords="744,457,884,679" href="../elements/6d3df2f9-86ca-489e-99dd-46442f895ac7.html"  target="element">

								<area shape="rect" coords="729,404,1071,697" href="../elements/88349631-2bcb-4841-8773-dbe236c99049.html"  target="element">
								<area shape="rect" coords="506,266,608,349" href="../elements/e7d811b7-7209-494f-9848-da1035ad9878.html"  target="element">
								<area shape="rect" coords="506,580,608,656" href="../elements/cd01be91-e4d1-4c2b-b941-5143b4ad0eec.html"  target="element">

						<area shape="rect" coords="498,10,1102,705" href="../elements/82d0daa2-e418-4145-943f-69979145019d.html"  target="element">
										<area shape="rect" coords="288,243,408,339" href="../elements/347d5891-e073-481e-9233-bc3a683408a7.html"  target="element">
										<area shape="rect" coords="288,145,408,206" href="../elements/c49c61be-605d-4f54-b15f-23e8d65daf6f.html"  target="element">

								<area shape="rect" coords="267,99,439,353" href="../elements/89c7b1eb-7838-4392-8c64-9030c744831d.html"  target="element">

						<area shape="rect" coords="217,10,469,705" href="../elements/28cc4c0b-f693-4fea-ab55-a7b369589029.html"  target="element">
								<area shape="rect" coords="23,435,143,636" href="../elements/debe8e0d-004b-43ca-9fa6-6f31029ab0ec.html"  target="element">
								<area shape="rect" coords="23,93,143,272" href="../elements/a9115ab5-f739-42fc-a42d-0074e6907e2e.html"  target="element">

						<area shape="rect" coords="10,10,171,705" href="../elements/f5ac71f8-e12d-4535-9723-ed59254f3275.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
					<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="elements">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
								</tr>
							</thead>
							<tbody>
										<tr><td> <a href="../elements/82d0daa2-e418-4145-943f-69979145019d.html" target="element"> Byte.nl </a> </td><td class="i18n-elementtype-Location"></td></tr>
												<tr><td> <a href="../elements/e9a377c9-4904-4a71-afa8-9e9150ec0357.html" target="element"> Magento colora pakket </a> </td><td class="i18n-elementtype-Node"></td></tr>
														<tr><td> <a href="../elements/1aa3676c.html" target="element"> Colora.be </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
														<tr><td> <a href="../elements/8f99e6ba.html" target="element"> Colora.nl </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
														<tr><td> <a href="../elements/14133a73-d91f-4beb-a69d-acb13efc3133.html" target="element"> Magento - colora </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
																<tr><td> <a href="../elements/7f95d6a6-3f7b-4f42-b065-40c58f94d4aa.html" target="element"> Magento CE 1.9.2 </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
																<tr><td> <a href="../elements/ada6b02b-c6ac-430c-bb22-2292377b8c01.html" target="element"> Magento Vendor modules </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
																<tr><td> <a href="../elements/3f331ce4-1f2c-4a9c-bd76-fca2e832feb3.html" target="element"> Magento Indiegroup modules </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
														
												
												<tr><td> <a href="../elements/88349631-2bcb-4841-8773-dbe236c99049.html" target="element"> Magento roomit pakket </a> </td><td class="i18n-elementtype-Node"></td></tr>
														<tr><td> <a href="../elements/421bcb8e.html" target="element"> Roomit.nl </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
														<tr><td> <a href="../elements/6d3df2f9-86ca-489e-99dd-46442f895ac7.html" target="element"> Magento - roomit </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
																<tr><td> <a href="../elements/1e06c234-358b-4242-aa89-150aacb7eb46.html" target="element"> Magento CE 1.9.2 </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
																<tr><td> <a href="../elements/ca1d457a-c6bb-4a95-b5a5-eb86888613da.html" target="element"> Magento Vendor modules </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
																<tr><td> <a href="../elements/345add24-8ec5-405b-8f16-bbf58e2ee5ea.html" target="element"> Magento Indiegroup modules </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
														
												
												<tr><td> <a href="../elements/e7d811b7-7209-494f-9848-da1035ad9878.html" target="element"> FTP Colora </a> </td><td class="i18n-elementtype-Node"></td></tr>
												<tr><td> <a href="../elements/cd01be91-e4d1-4c2b-b941-5143b4ad0eec.html" target="element"> FTP Roomit </a> </td><td class="i18n-elementtype-Node"></td></tr>
										
										<tr><td> <a href="../elements/28cc4c0b-f693-4fea-ab55-a7b369589029.html" target="element"> Indie hosting </a> </td><td class="i18n-elementtype-Location"></td></tr>
												<tr><td> <a href="../elements/89c7b1eb-7838-4392-8c64-9030c744831d.html" target="element"> API-Man server </a> </td><td class="i18n-elementtype-Node"></td></tr>
														<tr><td> <a href="../elements/347d5891-e073-481e-9233-bc3a683408a7.html" target="element"> Mapping service (doorgeefluik) voor colora en roomit </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
														<tr><td> <a href="../elements/c49c61be-605d-4f54-b15f-23e8d65daf6f.html" target="element"> Indiegroup Maatwerk  </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
												
										
										<tr><td> <a href="../elements/f5ac71f8-e12d-4535-9723-ed59254f3275.html" target="element"> BOSS </a> </td><td class="i18n-elementtype-Location"></td></tr>
												<tr><td> <a href="../elements/debe8e0d-004b-43ca-9fa6-6f31029ab0ec.html" target="element"> CSV Generator </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
												<tr><td> <a href="../elements/a9115ab5-f739-42fc-a42d-0074e6907e2e.html" target="element"> BOSS ESB Webservices </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
										
										<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->	

							</tbody>
						</table>
					</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>