<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>coco - SA - AS IS</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>coco - SA - AS IS</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/41d46d2f-e6c7-4f77-9292-20bd6b7e8b83.png" alt="coco - SA - AS IS" usemap="#41d46d2f-e6c7-4f77-9292-20bd6b7e8b83map">
			<map name="41d46d2f-e6c7-4f77-9292-20bd6b7e8b83map">
								<area shape="rect" coords="29,52,149,107" href="../elements/650464bf-9883-4bb0-a8c8-87c8a1e85b22.html"  target="element">
								<area shape="rect" coords="159,52,279,107" href="../elements/f8a1ee89-91e1-43ef-97b0-8238c641bd10.html"  target="element">
								<area shape="rect" coords="289,52,409,107" href="../elements/b6daaf3c-8add-4b44-a718-51327f8e1eaf.html"  target="element">
								<area shape="rect" coords="420,52,540,107" href="../elements/47416720-9ecc-41eb-b9ca-2d8fe402d59a.html"  target="element">

								<area shape="rect" coords="32,189,152,244" href="../elements/32b7cbe6-c721-4922-a0bd-2be1fbfe7107.html"  target="element">
								<area shape="rect" coords="165,189,285,244" href="../elements/f7f9b14d-d340-4115-93fa-b469238f504c.html"  target="element">
								<area shape="rect" coords="292,189,412,244" href="../elements/711cfd0d-cef0-4c09-a671-851096249db1.html"  target="element">
								<area shape="rect" coords="424,189,544,244" href="../elements/95986a97-f41f-4dc4-8f36-e48ec56d3e45.html"  target="element">

								<area shape="rect" coords="32,335,152,412" href="../elements/2f93c8cf-eb0d-4ac8-b0bb-643d31ea84d8.html"  target="element">
								<area shape="rect" coords="569,335,689,412" href="../elements/e62192d4-8424-4c22-bb35-3195043a5f4e.html"  target="element">
								<area shape="rect" coords="166,335,286,412" href="../elements/63918cbb-cb7f-4cb7-ad31-11ae4c668dab.html"  target="element">
								<area shape="rect" coords="299,335,419,412" href="../elements/5ff57de6-66e5-4f80-8c56-6e79790f788b.html"  target="element">
								<area shape="rect" coords="433,335,553,412" href="../elements/ba68522a-9d07-4f8c-b01c-1a3886b7a8bc.html"  target="element">

						<area shape="rect" coords="10,471,706,526" href="../elements/e61ac6db-0a76-4cde-8de4-f92fe508fb8e.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
					<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="elements">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
								</tr>
							</thead>
							<tbody>
										<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->	
												<tr><td> <a href="../elements/650464bf-9883-4bb0-a8c8-87c8a1e85b22.html" target="element"> AX Clients </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
												<tr><td> <a href="../elements/f8a1ee89-91e1-43ef-97b0-8238c641bd10.html" target="element"> Colora shop software </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
												<tr><td> <a href="../elements/b6daaf3c-8add-4b44-a718-51327f8e1eaf.html" target="element"> Colora ecommerce site </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
												<tr><td> <a href="../elements/47416720-9ecc-41eb-b9ca-2d8fe402d59a.html" target="element"> B2B Website </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
										
										<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->	
												<tr><td> <a href="../elements/32b7cbe6-c721-4922-a0bd-2be1fbfe7107.html" target="element"> AX Business logic </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
												<tr><td> <a href="../elements/f7f9b14d-d340-4115-93fa-b469238f504c.html" target="element"> Colora shop business logic </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
												<tr><td> <a href="../elements/711cfd0d-cef0-4c09-a671-851096249db1.html" target="element"> Magento business logic </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
												<tr><td> <a href="../elements/95986a97-f41f-4dc4-8f36-e48ec56d3e45.html" target="element"> Legacy java business logic </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
										
										<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->	
												<tr><td> <a href="../elements/2f93c8cf-eb0d-4ac8-b0bb-643d31ea84d8.html" target="element"> MS Dynamics AX DB (Sql server) </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
												<tr><td> <a href="../elements/e62192d4-8424-4c22-bb35-3195043a5f4e.html" target="element"> MS CRM DB (Sql server) </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
												<tr><td> <a href="../elements/63918cbb-cb7f-4cb7-ad31-11ae4c668dab.html" target="element"> Colora databases (Sybase sql anywhere) </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
												<tr><td> <a href="../elements/5ff57de6-66e5-4f80-8c56-6e79790f788b.html" target="element"> Magento DB (My Sql) </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
												<tr><td> <a href="../elements/ba68522a-9d07-4f8c-b01c-1a3886b7a8bc.html" target="element"> Legacy Informix DB </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
										
										<tr><td> <a href="../elements/e61ac6db-0a76-4cde-8de4-f92fe508fb8e.html" target="element"> BOSS Paints ESB + Interfaces </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>

							</tbody>
						</table>
					</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>