<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Applicaties/infrastructuur (PROD)</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Applicaties/infrastructuur (PROD)</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/900832bb-99ed-498d-9521-fc5326ef0acf.png" alt="Applicaties/infrastructuur (PROD)" usemap="#900832bb-99ed-498d-9521-fc5326ef0acfmap">
			<map name="900832bb-99ed-498d-9521-fc5326ef0acfmap">
						<area shape="rect" coords="667,10,831,97" href="../elements/3953757a.html"  target="element">
						<area shape="rect" coords="373,638,541,759" href="../elements/db697833.html"  target="element">
						<area shape="rect" coords="667,187,831,242" href="../elements/a92ee1f3.html"  target="element">
						<area shape="rect" coords="880,602,1009,645" href="../elements/ca05f826.html"  target="element">
						<area shape="rect" coords="667,126,831,181" href="../elements/dfec5882.html"  target="element">
						<area shape="rect" coords="1076,313,1187,361" href="../elements/206bbdf5-e9de-4440-a524-17b50d15f4ad.html"  target="element">
								<area shape="rect" coords="183,47,303,102" href="../elements/3b3c374b-bea7-47a3-a957-fd21cdf34765.html"  target="element">

						<area shape="rect" coords="173,10,319,112" href="../elements/aff1e9c9-1989-49df-bbd9-c7473029f0d3.html"  target="element">
						<area shape="rect" coords="173,125,319,183" href="../elements/0bdf9763-738d-44d8-a30c-1ae7a81fb380.html"  target="element">
						<area shape="rect" coords="10,10,130,112" href="../elements/8f30955d-5926-48f9-b5d0-bacb88a4e15a.html"  target="element">
						<area shape="rect" coords="10,371,130,566" href="../elements/8b1cf0c4-4886-4180-bb7a-f2617259818e.html"  target="element">
						<area shape="rect" coords="173,260,319,473" href="../elements/8b4d4544-d28a-40f9-a23a-db9ea3a96567.html"  target="element">
						<area shape="rect" coords="173,502,319,566" href="../elements/d0602413-89ea-47e5-96f7-93212955fc12.html"  target="element">
						<area shape="rect" coords="372,10,628,474" href="../elements/9cb3f7db.html"  target="element">
						<area shape="rect" coords="10,195,130,297" href="../elements/3c3a5a0a-f576-4d10-a027-459c788fa4ff.html"  target="element">
						<area shape="rect" coords="10,309,130,364" href="../elements/a6a38787-f4a3-4ca8-8bd9-423e861ac0e7.html"  target="element">
						<area shape="rect" coords="10,125,130,188" href="../elements/052c5cff-609a-4014-b4ba-d782790b5e63.html"  target="element">
						<area shape="rect" coords="667,313,831,368" href="../elements/c5d65293.html"  target="element">
						<area shape="rect" coords="173,195,319,250" href="../elements/bd3feef2-2465-41f4-8f6b-e64ae4513cdc.html"  target="element">
						<area shape="rect" coords="1077,126,1188,181" href="../elements/9822b54f-1e21-4324-843d-55a69595ee06.html"  target="element">
						<area shape="rect" coords="373,502,541,633" href="../elements/09282b39-92ee-4159-b663-2b0de8bb3126.html"  target="element">
						<area shape="rect" coords="1074,371,1185,487" href="../elements/ddfe7543-8ccc-4a59-a154-73c064adc92c.html"  target="element">
						<area shape="rect" coords="876,371,1005,426" href="../elements/c553c81c-dc13-4d67-aedc-88a479574d5d.html"  target="element">
						<area shape="rect" coords="1070,522,1181,577" href="../elements/1fc3dc45-c18f-4378-8b10-ce3ee1afa391.html"  target="element">
						<area shape="rect" coords="667,404,831,541" href="../elements/d36feb3f-b2dc-48d3-9d32-1c104e920e5d.html"  target="element">
						<area shape="rect" coords="880,433,1008,488" href="../elements/e24b9386-9e24-43bb-a13f-64ab23576214.html"  target="element">
						<area shape="rect" coords="875,522,1004,577" href="../elements/c09ab0f7-6d06-4971-8d77-3e49d2ff98f6.html"  target="element">
						<area shape="rect" coords="590,603,754,1280" href="../elements/754cb906-0a51-44b5-ae1c-353607405c8b.html"  target="element">
						<area shape="rect" coords="1077,187,1188,242" href="../elements/56c014b7-0aa9-487c-81c5-4a8443beebcd.html"  target="element">
						<area shape="rect" coords="11,638,131,693" href="../elements/a2f0d01a-e4e1-43ec-ba3a-8c3305c03e25.html"  target="element">
						<area shape="rect" coords="174,638,326,693" href="../elements/aa81ad3c-e8cf-46c3-9335-6b18b1b8dbf7.html"  target="element">
						<area shape="rect" coords="11,699,131,754" href="../elements/9b0ae353-564c-4fca-a0b6-54259ad2b575.html"  target="element">
						<area shape="rect" coords="174,699,326,754" href="../elements/bd264121-d80d-40cd-924b-5bb246f311fa.html"  target="element">
						<area shape="rect" coords="11,766,131,868" href="../elements/a89730f9-1f00-48ab-9b36-087d414170b9.html"  target="element">
								<area shape="rect" coords="194,801,304,849" href="../elements/1c7f67b5-6fa2-454f-88f4-30f78f6a86b8.html"  target="element">

						<area shape="rect" coords="174,769,326,865" href="../elements/35abdb1d-cd7e-46fe-8141-7fdc6464643a.html"  target="element">
						<area shape="rect" coords="1074,864,1185,954" href="../elements/71253a02-72d0-4166-a695-7694244e07f9.html"  target="element">
								<area shape="rect" coords="894,903,987,952" href="../elements/39673169-e69d-4050-bf97-92de6e8d7d13.html"  target="element">

						<area shape="rect" coords="883,867,1012,957" href="../elements/3e421632-ead9-415a-9025-1394caf75835.html"  target="element">
						<area shape="rect" coords="1075,658,1186,808" href="../elements/b0122697-ada3-43c8-8839-1bfb08057bb1.html"  target="element">
								<area shape="rect" coords="890,706,991,742" href="../elements/db970d2e-1314-454b-8c1c-9493a0e3b0ce.html"  target="element">
								<area shape="rect" coords="890,753,988,789" href="../elements/e6b95fa4-ec95-4475-a479-c33230397726.html"  target="element">
								<area shape="rect" coords="890,803,988,839" href="../elements/aaf14f06-d063-4389-bff8-8fdf81509fc8.html"  target="element">

						<area shape="rect" coords="883,658,1012,850" href="../elements/6eb0cd66-5305-4e0a-b888-8c2697dee688.html"  target="element">
						<area shape="rect" coords="1077,10,1188,58" href="../elements/04332655-615b-41d5-ac06-75d57f2fee23.html"  target="element">
						<area shape="rect" coords="1077,64,1188,119" href="../elements/beeb988f-5a34-496c-89d4-174a96adea48.html"  target="element">
						<area shape="rect" coords="881,64,1001,119" href="../elements/580412d6-cf7d-4ce0-99e6-8c54ac5fd590.html"  target="element">
						<area shape="rect" coords="11,880,131,996" href="../elements/6b42233f-36a6-4636-87d1-db14d9e651bc.html"  target="element">
						<area shape="rect" coords="174,880,326,996" href="../elements/0ee13ea2-1bb3-4ae5-b1ac-59acdfb0fcc1.html"  target="element">
						<area shape="rect" coords="373,766,541,935" href="../elements/71a69b99-96db-482b-a171-2c9c5ff9797a.html"  target="element">
						<area shape="rect" coords="1071,968,1189,1332" href="../elements/e22f8b4b-8611-41c2-891f-33c6d699ba01.html"  target="element">
						<area shape="rect" coords="792,967,1012,1332" href="../elements/d04aa15c-d95b-4a93-8aef-510c3d7d319e.html"  target="element">
						<area shape="rect" coords="373,1131,542,1225" href="../elements/24178062-738c-44b5-a4a7-ad0dc7e9af6a.html"  target="element">
						<area shape="rect" coords="373,942,541,997" href="../elements/4ec1d880-c464-4883-8f35-b0450f5d0450.html"  target="element">
						<area shape="rect" coords="11,1006,131,1061" href="../elements/c850cc61-bcb5-4e16-867e-d8e2f88e0e2f.html"  target="element">
						<area shape="rect" coords="373,1006,541,1061" href="../elements/ab5fa1f4.html"  target="element">
						<area shape="rect" coords="11,1067,131,1122" href="../elements/d1f4a649-8fc6-453d-b6c4-b4ea24189dc6.html"  target="element">
						<area shape="rect" coords="176,1067,326,1122" href="../elements/bead41a0-0a12-48d2-86c9-1dbe7166b363.html"  target="element">
						<area shape="rect" coords="373,1067,541,1122" href="../elements/d3263479-440b-47da-a1c7-2a930b51f2d4.html"  target="element">
						<area shape="rect" coords="1076,249,1184,304" href="../elements/a497fcd4-6d48-4afa-9edf-965b7da3334d.html"  target="element">
						<area shape="rect" coords="879,249,1008,304" href="../elements/c34869f9-9b79-42fc-85e2-d09e2b8ef9ce.html"  target="element">
						<area shape="rect" coords="667,249,831,304" href="../elements/2e503a06-79f1-47b7-bb78-c1542cb64bde.html"  target="element">
						<area shape="rect" coords="374,1233,540,1288" href="../elements/8452a34b.html"  target="element">
						<area shape="rect" coords="11,1224,131,1279" href="../elements/23bb99ad-35ab-42ec-a20a-410531d2df7d.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
					<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="elements">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
								</tr>
							</thead>
							<tbody>
										<tr><td> <a href="../elements/3953757a.html" target="element"> RFSmart </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
										<tr><td> <a href="../elements/db697833.html" target="element"> MS Dynamics CRM </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
										<tr><td> <a href="../elements/a92ee1f3.html" target="element"> Nicelabel </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
										<tr><td> <a href="../elements/ca05f826.html" target="element"> Sitecore </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
										<tr><td> <a href="../elements/dfec5882.html" target="element"> Transform </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
										<tr><td> <a href="../elements/206bbdf5-e9de-4440-a524-17b50d15f4ad.html" target="element"> BTRTRVS1 </a> </td><td class="i18n-elementtype-Device"></td></tr>
										<tr><td> <a href="../elements/aff1e9c9-1989-49df-bbd9-c7473029f0d3.html" target="element"> SQL Server </a> </td><td class="i18n-elementtype-SystemSoftware"></td></tr>
												<tr><td> <a href="../elements/3b3c374b-bea7-47a3-a957-fd21cdf34765.html" target="element"> AX PROD DB </a> </td><td class="i18n-elementtype-Artifact"></td></tr>
										
										<tr><td> <a href="../elements/0bdf9763-738d-44d8-a30c-1ae7a81fb380.html" target="element"> MS Dynamics Appl files </a> </td><td class="i18n-elementtype-Artifact"></td></tr>
										<tr><td> <a href="../elements/8f30955d-5926-48f9-b5d0-bacb88a4e15a.html" target="element"> BSQLVS5 </a> </td><td class="i18n-elementtype-Node"></td></tr>
										<tr><td> <a href="../elements/8b1cf0c4-4886-4180-bb7a-f2617259818e.html" target="element"> BAOSVS3 </a> </td><td class="i18n-elementtype-Node"></td></tr>
										<tr><td> <a href="../elements/8b4d4544-d28a-40f9-a23a-db9ea3a96567.html" target="element"> MS Dynamics AOS </a> </td><td class="i18n-elementtype-SystemSoftware"></td></tr>
										<tr><td> <a href="../elements/d0602413-89ea-47e5-96f7-93212955fc12.html" target="element"> IIS </a> </td><td class="i18n-elementtype-SystemSoftware"></td></tr>
										<tr><td> <a href="../elements/9cb3f7db.html" target="element"> MS Dynamics AX </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
												<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->	
										
										<tr><td> <a href="../elements/3c3a5a0a-f576-4d10-a027-459c788fa4ff.html" target="element"> BAOSVS2 </a> </td><td class="i18n-elementtype-Node"></td></tr>
										<tr><td> <a href="../elements/a6a38787-f4a3-4ca8-8bd9-423e861ac0e7.html" target="element"> BAOSVS4 </a> </td><td class="i18n-elementtype-Node"></td></tr>
										<tr><td> <a href="../elements/052c5cff-609a-4014-b4ba-d782790b5e63.html" target="element"> BAFSVS2 </a> </td><td class="i18n-elementtype-Node"></td></tr>
										<tr><td> <a href="../elements/c5d65293.html" target="element"> Winroute </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
										<tr><td> <a href="../elements/bd3feef2-2465-41f4-8f6b-e64ae4513cdc.html" target="element"> IIS (enterprise portal) </a> </td><td class="i18n-elementtype-SystemSoftware"></td></tr>
										<tr><td> <a href="../elements/9822b54f-1e21-4324-843d-55a69595ee06.html" target="element"> BTRFVS3 </a> </td><td class="i18n-elementtype-Node"></td></tr>
										<tr><td> <a href="../elements/09282b39-92ee-4159-b663-2b0de8bb3126.html" target="element"> AX Webservices </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
										<tr><td> <a href="../elements/ddfe7543-8ccc-4a59-a154-73c064adc92c.html" target="element"> BBZTVS6 </a> </td><td class="i18n-elementtype-Node"></td></tr>
										<tr><td> <a href="../elements/c553c81c-dc13-4d67-aedc-88a479574d5d.html" target="element"> Biztalk </a> </td><td class="i18n-elementtype-SystemSoftware"></td></tr>
										<tr><td> <a href="../elements/1fc3dc45-c18f-4378-8b10-ce3ee1afa391.html" target="element"> BIISVS6 </a> </td><td class="i18n-elementtype-Node"></td></tr>
										<tr><td> <a href="../elements/d36feb3f-b2dc-48d3-9d32-1c104e920e5d.html" target="element"> Biztalk services </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
										<tr><td> <a href="../elements/e24b9386-9e24-43bb-a13f-64ab23576214.html" target="element"> IIS (Biztalk app ws) </a> </td><td class="i18n-elementtype-SystemSoftware"></td></tr>
										<tr><td> <a href="../elements/c09ab0f7-6d06-4971-8d77-3e49d2ff98f6.html" target="element"> IIS </a> </td><td class="i18n-elementtype-SystemSoftware"></td></tr>
										<tr><td> <a href="../elements/754cb906-0a51-44b5-ae1c-353607405c8b.html" target="element"> .Net Services </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
										<tr><td> <a href="../elements/56c014b7-0aa9-487c-81c5-4a8443beebcd.html" target="element"> BNLBVS2 </a> </td><td class="i18n-elementtype-Node"></td></tr>
										<tr><td> <a href="../elements/a2f0d01a-e4e1-43ec-ba3a-8c3305c03e25.html" target="element"> BCRMVS2 </a> </td><td class="i18n-elementtype-Node"></td></tr>
										<tr><td> <a href="../elements/aa81ad3c-e8cf-46c3-9335-6b18b1b8dbf7.html" target="element"> MS CRM Server </a> </td><td class="i18n-elementtype-SystemSoftware"></td></tr>
										<tr><td> <a href="../elements/9b0ae353-564c-4fca-a0b6-54259ad2b575.html" target="element"> BSQLVS6 </a> </td><td class="i18n-elementtype-Node"></td></tr>
										<tr><td> <a href="../elements/bd264121-d80d-40cd-924b-5bb246f311fa.html" target="element"> SQL Server </a> </td><td class="i18n-elementtype-SystemSoftware"></td></tr>
										<tr><td> <a href="../elements/a89730f9-1f00-48ab-9b36-087d414170b9.html" target="element"> BINFVS1 </a> </td><td class="i18n-elementtype-Node"></td></tr>
										<tr><td> <a href="../elements/35abdb1d-cd7e-46fe-8141-7fdc6464643a.html" target="element"> Informix DB </a> </td><td class="i18n-elementtype-SystemSoftware"></td></tr>
												<tr><td> <a href="../elements/1c7f67b5-6fa2-454f-88f4-30f78f6a86b8.html" target="element"> Siemens </a> </td><td class="i18n-elementtype-Artifact"></td></tr>
										
										<tr><td> <a href="../elements/71253a02-72d0-4166-a695-7694244e07f9.html" target="element"> BMONGVS6 </a> </td><td class="i18n-elementtype-Node"></td></tr>
										<tr><td> <a href="../elements/3e421632-ead9-415a-9025-1394caf75835.html" target="element"> Mongo DB server </a> </td><td class="i18n-elementtype-SystemSoftware"></td></tr>
												<tr><td> <a href="../elements/39673169-e69d-4050-bf97-92de6e8d7d13.html" target="element"> Mongo </a> </td><td class="i18n-elementtype-Artifact"></td></tr>
										
										<tr><td> <a href="../elements/b0122697-ada3-43c8-8839-1bfb08057bb1.html" target="element"> BSQLVS2 </a> </td><td class="i18n-elementtype-Node"></td></tr>
										<tr><td> <a href="../elements/6eb0cd66-5305-4e0a-b888-8c2697dee688.html" target="element"> SQL Server </a> </td><td class="i18n-elementtype-SystemSoftware"></td></tr>
												<tr><td> <a href="../elements/db970d2e-1314-454b-8c1c-9493a0e3b0ce.html" target="element"> SITECORE-DB </a> </td><td class="i18n-elementtype-Artifact"></td></tr>
												<tr><td> <a href="../elements/e6b95fa4-ec95-4475-a479-c33230397726.html" target="element"> BOSSRAND </a> </td><td class="i18n-elementtype-Artifact"></td></tr>
												<tr><td> <a href="../elements/aaf14f06-d063-4389-bff8-8fdf81509fc8.html" target="element"> Vanasoft </a> </td><td class="i18n-elementtype-Artifact"></td></tr>
										
										<tr><td> <a href="../elements/04332655-615b-41d5-ac06-75d57f2fee23.html" target="element"> BRFSVS4 </a> </td><td class="i18n-elementtype-Node"></td></tr>
										<tr><td> <a href="../elements/beeb988f-5a34-496c-89d4-174a96adea48.html" target="element"> BMGMVS1 </a> </td><td class="i18n-elementtype-Node"></td></tr>
										<tr><td> <a href="../elements/580412d6-cf7d-4ce0-99e6-8c54ac5fd590.html" target="element"> Wavelink </a> </td><td class="i18n-elementtype-SystemSoftware"></td></tr>
										<tr><td> <a href="../elements/6b42233f-36a6-4636-87d1-db14d9e651bc.html" target="element"> BASVS1 </a> </td><td class="i18n-elementtype-Node"></td></tr>
										<tr><td> <a href="../elements/0ee13ea2-1bb3-4ae5-b1ac-59acdfb0fcc1.html" target="element"> JBOSS </a> </td><td class="i18n-elementtype-SystemSoftware"></td></tr>
										<tr><td> <a href="../elements/71a69b99-96db-482b-a171-2c9c5ff9797a.html" target="element"> Java services </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
										<tr><td> <a href="../elements/e22f8b4b-8611-41c2-891f-33c6d699ba01.html" target="element"> BJOBVS6 </a> </td><td class="i18n-elementtype-Node"></td></tr>
										<tr><td> <a href="../elements/d04aa15c-d95b-4a93-8aef-510c3d7d319e.html" target="element"> Console + wpf apps </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
												<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->	
										
										<tr><td> <a href="../elements/24178062-738c-44b5-a4a7-ad0dc7e9af6a.html" target="element"> IOS Apps </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
												<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->	
										
										<tr><td> <a href="../elements/4ec1d880-c464-4883-8f35-b0450f5d0450.html" target="element"> BOSSVip </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
										<tr><td> <a href="../elements/c850cc61-bcb5-4e16-867e-d8e2f88e0e2f.html" target="element"> BFDBVS2 </a> </td><td class="i18n-elementtype-Node"></td></tr>
										<tr><td> <a href="../elements/ab5fa1f4.html" target="element"> Cumulus </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
										<tr><td> <a href="../elements/d1f4a649-8fc6-453d-b6c4-b4ea24189dc6.html" target="element"> BMYMXVS3 </a> </td><td class="i18n-elementtype-Node"></td></tr>
										<tr><td> <a href="../elements/bead41a0-0a12-48d2-86c9-1dbe7166b363.html" target="element"> Maria DB </a> </td><td class="i18n-elementtype-SystemSoftware"></td></tr>
										<tr><td> <a href="../elements/d3263479-440b-47da-a1c7-2a930b51f2d4.html" target="element"> Innovatint software </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
										<tr><td> <a href="../elements/a497fcd4-6d48-4afa-9edf-965b7da3334d.html" target="element"> BSYBVS1 </a> </td><td class="i18n-elementtype-Node"></td></tr>
										<tr><td> <a href="../elements/c34869f9-9b79-42fc-85e2-d09e2b8ef9ce.html" target="element"> SYBASE SQL Anywhere </a> </td><td class="i18n-elementtype-SystemSoftware"></td></tr>
										<tr><td> <a href="../elements/2e503a06-79f1-47b7-bb78-c1542cb64bde.html" target="element"> Colour composer software </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
										<tr><td> <a href="../elements/8452a34b.html" target="element"> Voxtron (telefooncentrale) </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
										<tr><td> <a href="../elements/23bb99ad-35ab-42ec-a20a-410531d2df7d.html" target="element"> BVOXPS01 </a> </td><td class="i18n-elementtype-Device"></td></tr>

							</tbody>
						</table>
					</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>